<%= simple_form_for(@approval) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :policy_resolution, label_method: :id %>
    <%= f.input :approval_type %>
    <%= f.input :approver_id %>
    <%= f.input :approved %>
    <%= f.input :remarks %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
