<div class="row">
  <div class="col-md-8">

    <%= content_tag :legend, "Approval Information", class: "p-3 mb-2 bg-secondary text-white" %>
    <table class = "table" >
      <%= show_view_row_helper("Policy resolution:", @approval.policy_resolution_id) %>
      <%= show_view_row_helper("Approval type:", @approval.approval_type) %>
      <%= show_view_row_helper("Approver:", @approval.approver_id) %>
      <%= show_view_row_helper("Approved Date:", @approval.approved) %>
      <%= show_view_row_helper("Remarks:", @approval.remarks) %>
    </table>
  </div>
</div>

  <%= link_to 'Edit', edit_approval_path(@approval) , class: "btn btn-info" %> |
  <%= link_to 'Back', approvals_path , class: "btn btn-info" %>
</fieldset>
