<fieldset class="col-md-7">
     <legend>Approval Information</legend>

     <div class="panel panel-default">
       <div class="panel-body">
           <div class="form-border">
             <strong>User ID:</strong>
             <%= @profile.user_id %>
           </div>

           <div class="form-border">
             <strong>Full Name:</strong>
             <%=  @profile.full_name %>
           </div>

           <div class="form-border">
             <strong>Department:</strong>
             <%= @profile.department %>
           </div>

           <div class="form-border">
             <strong>Rank:</strong>
             <%= @profile.rank.name %>
           </div>

       </div>
     </div>

     <%= link_to 'Edit', edit_profile_path(@profile) , class: "btn btn-info"  %> |
     <%= link_to 'Back', profiles_path, class: "btn btn-info"  %>

</fieldset>
