<div class="row">
  <div class="col-md-8">

    <%= content_tag :legend, "Profile Information", class: "p-3 mb-2 bg-secondary text-white" %>
    <table class = "table" >
      <%= show_view_row_helper("User ID:", @profile.user_id) %>
      <%= show_view_row_helper("Full Name:", @profile.full_name ) %>
      <%= show_view_row_helper("Department:", @profile.department) %>
      <%= show_view_row_helper("Rank:", @profile.rank.name) %>
    </table>
  </div>
</div>

  <%= link_to 'Edit', edit_profile_path(@profile) , class: "btn btn-info"  %> |
  <%= link_to 'Back', profiles_path, class: "btn btn-info"  %>
