<div class="row">
  <div class="col-md-8">
    <% title "Account Resolution Details" %>

    <%= content_tag :legend, "Request Approval For", class: "p-3 mb-2 bg-secondary text-white" %>
      <table class = "table" >
        <%= show_row_helper("Request Type:", @policy_resolution.request_type) %>
        <%= show_row_helper("Extension:", @policy_resolution.extension) %>
        <%= show_row_helper("Cancelled:", @policy_resolution.cancelled) %>
        <%= show_row_helper("Reinstated:", @policy_resolution.reinstated) %>
      </table>

    <%= content_tag :legend, "Account Summary", class: "p-3 mb-2 bg-secondary text-white" %>
      <table class = "table" >
        <%= show_row_helper("Intermediary No:", @policy_resolution.intermediary_id) %>
        <%= show_row_helper("Intermediary Name:", @policy_resolution.intermediary_name) %>
        <%= show_row_helper("Credit Term:", @policy_resolution.credit_term) %>
        <%= show_row_helper("Premium Due:", format_currency(@policy_resolution.premium_due)) %>
      </table>

    <%= content_tag :legend, "Policy Information", class: "p-3 mb-2 bg-secondary text-white" %>
      <table class = "table" >
        <%= show_row_helper("Policy ID:", @policy_resolution.policy_id) %>
        <%= show_row_helper("Policy No:", @policy_resolution.policy_no) %>
        <%= show_row_helper("Endorsement No:", @policy_resolution.endt_no) %>
        <%= show_row_helper("Assured No:", @policy_resolution.assured_id) %>
        <%= show_row_helper("Effective Date:", @policy_resolution.effective_date) %>
        <%= show_row_helper("Original Due Date:", @policy_resolution.orig_due) %>
        <%= show_row_helper("New Due Date:", @policy_resolution.new_due) %>
      </table>

    <%= content_tag :legend, "Form of Payment", class: "p-3 mb-2 bg-secondary text-white" %>
      <table class = "table" >
        <%= show_row_helper("Payment Type:", @policy_resolution.payment_type) %>
        <%= show_row_helper("Payment Amount:", @policy_resolution.payment_amount) %>
        <%= show_row_helper("Payment Date:", @policy_resolution.payment) %>
      </table>

    <%= content_tag :legend, "Remarks", class: "p-3 mb-2 bg-secondary text-white" %>
      <table class = "table text-center" >
        <%= show_row_helper(" ", @policy_resolution.remarks) %>
      </table>

    <%= content_tag :legend, "Prepared By", class: "p-3 mb-2 bg-secondary text-white" %>
      <table class = "table" >
        <%= show_row_helper(" ", @policy_resolution.user&.profile&.full_name) %>
      </table>

    <%= content_tag :legend, "Approvals", class: "p-3 mb-2 bg-secondary text-white" %>
      <table class = "table" >
        <tr>
          <td>
            <%= simple_form_for @approval, url: approvals_path(id: @policy_resolution.id), method: :post do |f| %>
              <%= f.input :remarks, label: 'Remarks'%>
              <%= f.button :submit, "Reviewed" if current_user.profile.profile_rank == 'Regular' %>
              <%= f.button :submit, "Noted" if current_user.profile.profile_rank == 'Medium' %>
              <%= f.button :submit, "Approved" if current_user.profile.profile_rank == 'High'  %>
            <% end %>
          </td>
        </tr>
      </table>

    <%= link_to 'Edit', edit_policy_resolution_path(@policy_resolution) , class: "btn btn-info"  %>
    <%= link_to 'Back', policy_resolutions_path , class: "btn btn-info"  %>

  </div>
</div>
