<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.profile.full_name %></td>
        <td><%= link_to 'Show', user , class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_user_path(user) , class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
  <%= link_to 'New User', new_user_path, class: "btn btn-info"  %>
</p>

<p>
  <%= page_entries_info @users %>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</p>
