<div class="row">
  <div class="col-md-8">

    <%= content_tag :legend, "User Information", class: "p-3 mb-2 bg-secondary text-white" %>
    <table class = "table" >
      <%= show_view_row_helper("User ID:", @user.id) %>
      <%= show_view_row_helper("User Name:", @user.username) %>
      <%= show_view_row_helper("Email Address:", @user.email) %>
      <%= show_view_row_helper("Full Name:", (@user.profile.full_name if @user.profile)) %>

      <% @user.roles.each do |role| %>
        <%= show_view_row_helper("Role:", role.name ) %>
      <% end %>

    </table>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info"  %> |
<%= link_to 'Back', users_path , class: "btn btn-info"  %>
