<div class="row">
  <div class="col-md-8">

    <%= content_tag :legend, "Rank Information", class: "p-3 mb-2 bg-secondary text-white" %>
    <table class = "table" >
      <%= show_view_row_helper("Rank ID:", @rank.id) %>
      <%= show_view_row_helper("Name:", @rank.name ) %>
      <%= show_view_row_helper("From:", @rank.from) %>
      <%= show_view_row_helper("To:", @rank.to) %>
    </table>
  </div>
</div>

  <%= link_to 'Edit', edit_rank_path(@rank), class: "btn btn-info"  %> |
  <%= link_to 'Back', ranks_path, class: "btn btn-info"  %>
