<fieldset class="col-md-7">
     <legend>Approval Information</legend>

     <div class="panel panel-default">
       <div class="panel-body">
           <div class="form-border">
             <strong>ID:</strong>
             <%= @rank.id %>
           </div>

           <div class="form-border">
             <strong>Name:</strong>
             <%= @rank.name %>
           </div>

           <div class="form-border">
             <strong>From:</strong>
             <%= @rank.from %>
           </div>

           <div class="form-border">
             <strong>To:</strong>
             <%= @rank.to %>
           </div>
       </div>
     </div>

     <%= link_to 'Edit', edit_rank_path(@rank), class: "btn btn-info"  %> |
     <%= link_to 'Back', ranks_path, class: "btn btn-info"  %>

</fieldset>
