<div class="row">
  <div class="col-md-8">

    <%= content_tag :legend, "Role Information", class: "p-3 mb-2 bg-secondary text-white" %>
    <table class = "table" >
      <%= show_view_row_helper("Role ID:", @role.id) %>
      <%= show_view_row_helper("Name:", @role.name ) %>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_role_path(@role) , class: "btn btn-info" %> |
<%= link_to 'Back', roles_path , class: "btn btn-info" %>
