<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <%= link_to 'FGEN Backend Tools', root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">


    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to "Accounting", "#", class: 'nav-link dropdown-toggle', id: 'navbarDropdownMenuLink', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= drop_link 'Policies Due Today', due_today_policies_path %>
            <%= drop_link 'Accounts For Resolution', policy_resolutions_path %>
            <%= drop_link 'ARS Approvals', approvals_path %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <%= link_to "Underwriting", "#", class: 'nav-link dropdown-toggle', id: 'navbarDropdownMenuLink', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= drop_link 'Travel Policies', travel_declarations_policies_path %>
            <%= drop_link 'Motor Policies', motor_declarations_policies_path %>
          </div>
        </li>
      <% end %>

      <% if can? :manage, :all %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maintenance</a>
          <div class="dropdown-menu">
            <%= drop_link 'Users', users_path %>
            <%= drop_link 'Ranks', ranks_path %>
            <%= drop_link 'Roles', roles_path %>
            </div>
        </li>
      <% end %>

    </ul>

    <ul class="navbar-nav">

      <% if user_signed_in? %>
        <li class="nav-link">Logged in as <strong><%= current_user.username %></strong>.</li>
        <%= nav_link('Edit profile', edit_profile_path(id: current_user.profile.id)) %>
        <%= content_tag :li, class: 'nav-item' do %>
          <%= button_to("Logout", destroy_user_session_path, method: :delete, class: 'nav-link') %>
        <% end %>
      <% else %>
        <%= nav_link "Sign up", new_user_path  %>
        <%= nav_link "Login", new_user_session_path  %>
      <% end %>

    </ul>

  </div>

</nav>
