<% title "Policy No. : #{@policy.no}" %>

<% i = 0 %>

<% @policies.each do | pol| %>

<div class="row">
  <div class="col-12">
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <th>Policies/Endorsements: </th>
        </tr>
        <tr>
          <td>
            <span class="<%= endorsement_class_helper(pol.id, pol.id) %>">
            </span>
              <%= "#{pol.no} / #{pol.endorsement_no}" %>
            <%= policy_type_helper(pol.endorsement_no)%>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <th>Policy Period</th>
        </tr>
        <tr>
          <th class = "small">From :</th>
          <td><%= content_tag :p, format_date(pol.inception), class: "small" %></td>
          <th class = "small text-center">Issue Date :</th>
          <td><%= content_tag :p, format_date(pol.issued), align: "right", class: "small"  %></td>
        </tr>
        <tr>
          <th class = "small"> To :</th>
          <td colspan="3"><%= content_tag :p, format_date(pol.expiry), class: "small"  %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
    <div class="col-sm-8">
      <% if i == 0 %>
        <table class="table table-sm mb-4">
          <tbody>
            <tr>
              <th class="col-sm2">Insured Name:</th>
              <td><%= content_tag :h2, pol.assured.name %></td>
            </tr>
            <tr>
              <th>Address :</th>
              <td><%= content_tag :p, "#{pol.address1}#{pol.address2}#{pol.address3}" %></td>
            </tr>
            <tr>
              <th>Intermediary Name:</th>
              <td><%= content_tag :p, pol.intermediary&.name %></td>
            </tr>
          </tbody>
        </table>
      <% end %>

    <table class="table table-sm mt-4">
      <tbody>
        <tr>
          <th colspan="2"><%= content_tag :h5, "Details of Insurance", align: "center" %></th>
        </tr>
        <tr>
          <th>Item :</th>
          <% pol.policy_items.each do |item| %>
            <td>
              <%= content_tag :p, "#{item.no} - #{item.title}", align: "right" %>
            </td>
        </tr>
        <tr>
          <th>Description :</th>
          <td><%= content_tag :p, "#{item.description} #{item.description2}", class: "small", align: "right" %></td>
        </tr>
        <% end %>
        <tr>
          <th>Location :</th>
          <td><%= content_tag :p, "#{pol.address1}#{pol.address2}#{pol.address3}", class: "small", align: "right" %></td>
        </tr>
        <% if pol.endorsement_no%>
          <tr class="bg-info text-white">
            <th>Endorsement Description :</th>
            <td><%= content_tag :p, "#{pol.endorsement_text.text}", class: "small" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">
    <table class="table table-sm ">
      <tbody>
        <tr>
          <th><%= content_tag :h5, "Base Premium :" %></th>
          <td><%= content_tag :h5, format_currency(pol.prem_amt), align: "right"  %></td>
        </tr>

        <% pol.policy_taxes.where(iss_cd: pol.policy_invoice&.iss_cd).each do |tax| %>
          <% if tax.amount > 0 || tax.amount < 0 %>
            <tr>
              <td><%= content_tag :h5, "#{tax.type} :" %></td>
              <td><%= content_tag :p, format_currency(tax.amount), align: "right"  %></td>
            <tr>
          <% end %>
        <% end %>

        <tr>
          <td><%= content_tag :h5, "Amount Due :" %></td>
          <td><%= content_tag :h5, format_currency(pol.policy_invoice&.gross_premium), align: "right"  %></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-sm mt-3">
      <tbody>
        <tr>
          <th colspan="4"><%= content_tag :h3, "Perils :" %></th>
        </tr>

        <%= render 'perils', policy: pol%>

      </tbody>
    </table>
  </div>

</div>
<% i += 1%>
<% end %>

<%= link_to 'Back', policies_due_today_path , class: "btn btn-info" %>
