<% title 'Policies Due Today' %>

<%= render 'due_today_search' %>

<table class="table">
  <thead>
    <%= content_tag :th, "Policy Details" %>
    <%= content_tag :th, "Dates" %>
    <%= content_tag :th, "Net Premium" %>
    <%= content_tag :th, "Taxes" %>
    <%= content_tag :th, "Gross Premium" %>
    <%= content_tag :th, "Commission" %>
    <%= content_tag :th, "PDC Details" %>
    <%= content_tag :th, "Payment Details" %>
    <%= content_tag :th, "Payment History" %>
    <%= content_tag :th, "Payment Due<br>(if net of Commission)".html_safe %>
    <%= content_tag :th, "Due Date" %>
    <%= content_tag :th %>
  </thead>

  <% @policies.each do |policy| %>
    <tr>
      <!-- Policy Details -->
      <td class="col-md-4">
        <%= link_to((content_tag :p, policy.no), policy) %>
        <%= show_view_table_helper("Endorsement: ", policy.endorsement_no, 'small label label-primary') if policy.endorsement_no %>
        <%= content_tag :h5, shorten(policy.assured&.name, 25) %>

        <%= show_view_table_helper("Intermediary: #{policy.intermediary&.intm_no} | ", shorten(policy.intermediary&.name, 25)) %>
        <%= content_tag :p, "TSI: #{format_currency(policy.tsi_amt)}" %>
      </td>

      <!-- Dates -->
      <td class="col-md-3">
        <%= show_view_table_helper("Inception: ", format_date(policy.inception)) %>
        <%= show_view_table_helper("Expiry: ", format_date(policy.expiry)) %>
        <%= show_view_table_helper("Effectivity: ", format_date(policy.effectivity)) %>

      </td>

      <!-- Net Premium -->
      <%= content_tag :td, format_currency(policy.prem_amt), class: 'text-right' %>

      <!-- Taxes -->
      <td class="col-md-2">
        <% policy.policy_taxes.where(iss_cd: policy.policy_invoice&.iss_cd).each do |tax| %>
          <% if tax.amount > 0 || tax.amount < 0 %>
            <%= show_view_table_helper(tax.type, format_currency(tax.amount)) %>
          <% end %>
        <% end %>

        <%= show_view_table_helper("Total Taxes: ", format_currency(policy.policy_invoice&.total_taxes)) %>
      </td>

      <!-- Gross Premium -->
      <%= content_tag :td, format_currency(policy.policy_invoice&.gross_premium), class: 'text-right' %>

      <!-- Commission -->
      <td>
        <%= show_view_table_helper("Gross: ", policy.commission_invoice&.gross_commission) %>
        <%= show_view_table_helper("W/Tax: ", policy.commission_invoice&.w_tax) %>
        <%= show_view_table_helper("W/Net: ", policy.commission_invoice&.net_commission, 'label-info') %>

      </td>

      <!-- PDC -->
      <td class="col-md-2">
        <% policy.pdc_payments.where(iss_cd: policy.iss_cd).each do |collection| %>
          <%= show_view_table_helper("Balance Due: ", format_currency(collection.amount), nil, 'label alert-danger') %>
          <%= show_view_table_helper("Bank: ", "#{collection.bank&.name} #{collection.bank&.short_name}" , 'small label label-primary' )%>
          <%= show_view_table_helper("Branch: ", collection.pdc_payment_detail&.bank_branch, 'small label label-primary') %>
          <%= show_view_table_helper("Check No: ", collection.pdc_payment_detail&.number, 'small label label-primary') %>
          <%= show_view_table_helper("Check Date: ", format_date(collection.pdc_payment_detail&.date), 'small label label-primary') %>
          <%= show_view_table_helper("Check Amount: ", format_currency(collection.pdc_payment_detail&.amount), 'small label label-primary') %>
          <%= show_view_table_helper("APDC No: ", " #{collection.apdc_payment&.prefix}-#{collection.apdc_payment&.source}-#{collection.apdc_payment&.apdc_number}", 'small label label-primary') %>
          <%= show_view_table_helper("APDC Date: ", "#{format_date(collection.apdc_payment&.date)}", 'small label label-primary') %>
        <% end %>
      </td>

      <!-- Payment -->
      <td class="col-md-2">
        <% policy.policy_payments.where(iss_cd: policy.iss_cd).each do |payment| %>
        <%= show_view_table_helper("Total Payments: ", format_currency(payment.total_payment)) %>
        <%= show_view_table_helper("Gross Payment Due: ", format_currency(payment.balance_due), nil, 'label alert-danger') %>
        <%= show_view_table_helper("Bill No: ", "#{payment.iss_cd}-#{payment.prem_seq_no}-#{payment.installment}", 'small bg-primary text-white') %>
        <% end %>
      </td>

      <!-- Payment History -->
      <td class="col-md-2">
        <% policy.premium_collections.where(issue_code: policy.commission_invoice&.iss_cd).each do |paid| %>
          <%= show_view_table_helper("Paid Premium: ", paid.premium) %>
          <%= show_view_table_helper("Paid Tax: ", paid.tax) %>

          <% paid.order_of_payments.each do |receipt | %>
            <%= show_view_table_helper("Official Reciept No: ", receipt.or_no) %>
            <%= show_view_table_helper("Official Reciept Date: ", receipt.or_date) %>
          <% end %>

          <% paid.account_transactions.each do | transaction | %>
            <%= show_view_table_helper("Journal Voucher No: ", transaction.journal_voucher) if transaction.journal_voucher? %>
          <% end %>

        <% end %>
      </td>

      <!-- Net Due -->
      <%= content_tag :td, format_currency(policy.net_due), class: 'text-right' %>

      <!-- Due Date -->
      <%= content_tag :td, (format_date(policy.due_date) if policy.due_date), class: "col-md-3" %>

      <!-- Action Button/s -->
      <%= content_tag :td, link_to("ARS", new_policy_resolution_path(id: policy.id), class: "btn btn-success") %>
  </tr>
  <% end %>

</table>

<p>
    <%= link_to "Print(PDF)", due_today_policies_path(@policies, format: 'pdf'), class: "btn btn-info" %>
    <%= link_to "Print(CSV)", due_today_policies_path(@policies, format: 'csv'), class: "btn btn-info" %>
    <%= link_to "Print(XLSX)", due_today_policies_path(@policies, format: 'xlsx'), class: "btn btn-info" %>
</p>
<%= page_entries_info @policies %><br>
<%= paginate @policies, theme: 'twitter-bootstrap-4' %>
